header {
    background:  linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url(../img/header-bg.jpeg) center no-repeat;
    background-size: cover;
    min-height: 100%;
}

@media screen and (max-width: 670px) {
    header {
        min-height: 50%;
    }
}

.modal {
    width: 75%;
    height: 100%;
}

.section {
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.bold-text {
    font-weight: bold;
}

.card-border {
    border: 2px darkblue solid;
}

.header-box {
    height: 80%;
}